// demo styles
$cube-size: 300px;
$cube-radius: $cube-size / 2;
.demo {
    width: $cube-size;
    height: $cube-size;
    perspective: 300px;
    position: relative;
    margin: 30px auto;
}

.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
    transition: transform ease 1s;
    &-face {
        border: 2px solid #000;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0.6;
        backface-visibility: visible;
        &-face {
            opacity: 0.9;
        }
        &.show-default {
            transform: translateZ( - $cube-radius) rotateY( -15deg) rotateX(-15deg);
        }
        &.show-left {
            transform: translateZ( - $cube-radius) rotateY( 90deg);
        }
        &.is-front {
            transform: translateZ( $cube-radius);
        }
        &.is-back {
            transform: rotateX( -180deg) translateZ( $cube-radius);
        }
        &.is-right {
            transform: rotateY( 90deg) translateZ( $cube-radius);
        }
        &.is-left {
            transform: rotateY( -90deg) translateZ( $cube-radius);
        }
        &.is-top {
            transform: rotateX( 90deg) translateZ( $cube-radius);
        }
        &.is-bottom {
            transform: rotateX( -90deg) translateZ( $cube-radius);
        }
    }
    img {
        width: 100%;
    }
}